In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Upernavik,72.7868,-56.1549,0.88,89,62,4.68,GL,2022-05-06 04:05:25
1,1,Boguchany,58.3814,97.4531,51.01,45,100,7.56,RU,2022-05-06 04:05:26
2,2,Zelenoborskiy,66.8450,32.3622,35.53,96,100,5.73,RU,2022-05-06 04:05:26
3,3,Hofn,64.2539,-15.2082,38.84,53,0,11.27,IS,2022-05-06 04:05:27
4,4,Sao Joao Da Barra,-21.6403,-41.0511,71.24,84,7,10.76,BR,2022-05-06 04:05:27

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# # Heatmap of temperature
# # Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# # Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# # Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# # Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# # Add the heatmap layer.
fig.add_layer(heat_layer)
# # Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations

         Lat       Lng
0    72.7868  -56.1549
1    58.3814   97.4531
2    66.8450   32.3622
3    64.2539  -15.2082
4   -21.6403  -41.0511
..       ...       ...
558   9.4942   50.8122
559   1.7471   40.0573
560  14.2000   24.6667
561 -20.0167  148.2333
562  33.6416   42.8251

[563 rows x 2 columns]

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Butaritari,3.0707,172.7902,81.55,72,41,17.69,KI,2022-05-06 04:05:28
8,8,Phan Thiet,10.9333,108.1000,88.74,60,65,14.74,VN,2022-05-06 04:05:29
9,9,Cabedelo,-6.9811,-34.8339,75.87,82,100,10.98,BR,2022-05-06 04:05:29
11,11,Monrovia,6.3005,-10.7969,75.90,89,99,7.09,LR,2022-05-06 04:00:31
13,13,Saint George,37.1041,-113.5841,77.79,17,63,1.99,US,2022-05-06 03:59:41
14,14,Hithadhoo,-0.6000,73.0833,84.56,74,97,15.41,MV,2022-05-06 04:05:31
26,26,Avarua,-21.2078,-159.7750,82.45,74,96,3.44,CK,2022-05-06 04:05:36
28,28,Fare,-16.7000,-151.0167,81.54,74,99,7.99,PF,2022-05-06 04:05:37
30,30,Rikitea,-23.1203,-134.9692,77.99,85,63,16.51,PF,2022-05-06 04:05:38
34,34,Kalmunai,7.4167,81.8167,86.23,69,45,6.11,LK,2022-05-06 04:05:39

In [15]:
preferred_cities_df.count()

City_ID       164
City          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
Country       164
Date          164
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5     Butaritari      KI     81.55   3.0707  172.7902
8     Phan Thiet      VN     88.74  10.9333  108.1000
9       Cabedelo      BR     75.87  -6.9811  -34.8339
11      Monrovia      LR     75.90   6.3005  -10.7969
13  Saint George      US     77.79  37.1041 -113.5841
14     Hithadhoo      MV     84.56  -0.6000   73.0833
26        Avarua      CK     82.45 -21.2078 -159.7750
28          Fare      PF     81.54 -16.7000 -151.0167
30       Rikitea      PF     77.99 -23.1203 -134.9692
34      Kalmunai      LK     86.23   7.4167   81.8167

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 10000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Butaritari,KI,81.55,3.0707,172.7902,Isles Sunset Lodge
8,Phan Thiet,VN,88.74,10.9333,108.1000,Phu Hai Beach Resort & Spa
9,Cabedelo,BR,75.87,-6.9811,-34.8339,Union Motel
11,Monrovia,LR,75.90,6.3005,-10.7969,Sunset Inn
13,Saint George,US,77.79,37.1041,-113.5841,Best Western Plus Abbey Inn
...,...,...,...,...,...,...
553,Kahului,US,75.22,20.8947,-156.4700,Maui Seaside Hotel
555,Hambantota,LK,86.20,6.1241,81.1185,Bungalow 63
558,Bandarbeyla,SO,82.80,9.4942,50.8122,JABIR HOTEL
559,Wajir,KE,78.76,1.7471,40.0573,Al-bustan Hotel And Restaurant.
561,Bowen,AU,79.02,-20.0167,148.2333,Rose Bay Resort

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))